# ==========================
# Binaries
# ==========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# ==========================
# Build
# ==========================
bin/
dist/
build/
coverage/
tmp/

# ==========================
# Go
# ==========================
vendor/

# ==========================
# Environment
# ==========================
.env
.env.*
!.env.example

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Air
# ==========================
.air.toml

# ==========================
# Docker
# ==========================
docker-data/

# ==========================
# Generated Docs
# ==========================
docs/swagger.json
docs/swagger.yaml

# ==========================
# Test
# ==========================
*.coverprofile
coverage.html